/* Mixins */
@mixin clearfix {
    &:after {
        content: "";
        display: table;
        clear: both;
    }
}

.app-wrapper {
    width: 100px;
    height: 100px;
    border: 1px solid red;
}
